@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors duration-200;
  }

  body {
    @apply font-sans text-base leading-relaxed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4 {
    @apply font-serif;
  }

  ::selection {
    @apply bg-neutral-200 dark:bg-neutral-700;
  }
}
